body {
font-family: 'Courier New', monospace;
  background: white;
  color: black;
  text-align: center;
  margin: 0 auto;
  
}

Explore:hover
{
  Background-image:url(https://min.gitcdn.link/repo/chompchomp-code/chompmunch.github.io/main/Explore.png) no-repeat;
  Height= 42px;

}

p1 {
  position:absolute;
  top: 420px;
  left: 190px;
  
}
